body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.container.body-content, .container, .body-content {
    padding-left:0;
    padding-right:0;
}

.selectStyle{
    /*background:transparent;*/
    text-decoration-color:black;
    border-color:black;
    color:black;
}

.imgsize{
    width:100%;
    height:40%;

}

.text-black {
    color:black;
}

.text-white {
    color:white;
}

.logo-padding {

padding:0;
}
.bg-white{
    background-color: #ffffff;
}

.bg-light-blue{
    background-color: #abe4f1;
}

.margin-top{
    padding-top:20px;

}
.margintop{
   margin-top:-25px;

}

.slidermargintop{
    padding-top:-50px;

}

.container-width{
    width:1000px;

}


.parallax-zindex{
    z-index:1001;
}

.topmargin {
margin-top:-475px;
}
