<connectionStrings>


  <!-- Connecting to Azure DB -->
  <add name="DefaultConnection" connectionString="Server=coderfoundry.cloudapp.net,55555; Database=hmitra-carfinder;User ID=hmitra;Password=DBconnect-1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30; TrustServerCertificate=True;"
       providerName="System.Data.SqlClient"/>

</connectionStrings>

