
<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
 <!--<![endif]-->
<head>
    <!-- meta character set -->
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Car Lister</title>
    <!-- Meta Description -->
    <meta name="description" content="car lister">
    <meta name="keywords" content="angular, carlister, carfinder, cars, business, html5, css3, css3 animation">
    
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->

    

    <!-- bootstrap.min -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
  
    <link href="/Content/trNgGrid.css" rel="stylesheet" />
    <link href="/Content/Site.css" rel="stylesheet" />
   
     <!-- Fontawesome Icon font -->
    <!--<link rel="stylesheet" href="css/font-awesome.min.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css" />

    <!-- bootstrap.min -->
    <link rel=" stylesheet" href="css/jquery.fancybox.css">
   
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="css/owl.carousel.css">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="css/slit-slider.css">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="css/main.css">
    <!-- Modernizer Script for old Browsers -->
    <script src="js/modernizr-2.6.2.min.js"></script>
</head>

<body id="body">
    <!-- preloader -->
    <div id="preloader">
        <div class="loder-box">
            <div class="battery"></div>
        </div>
    </div>
    <!-- end preloader -->
    <!--
    Fixed Navigation
    ==================================== -->
    <header id="navigation" class="navbar-inverse navbar-fixed-top animated-header margintop">
        <div class="container">
            <div class="navbar-header">
                <!-- responsive nav button -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- /responsive nav button -->
                <!-- logo -->
                <h1 class="navbar-brand">
                    <span class="text-white">car</span><span class="text-warning">Finder</span>
                </h1>
                <!-- /logo -->
            </div>
            <!-- main nav -->
            <nav class="collapse navbar-collapse navbar-right social-zindex" role="navigation">
                <ul id="nav" class="nav navbar-nav">
                    <li><a href="#service">About</a></li>
                    <li><a href="#portfolio">Gallery</a></li>
                    <li><a href="#testimonials">Search</a></li>
                </ul>
            </nav>
            <!-- /main nav -->

        </div>
    </header>
    <!--
    End Fixed Navigation
    ==================================== -->

    <main class="site-content" role="main">

        <!--
        Home Slider
        ==================================== -->

        <section id="home-slider">
            <div id="slider" class="sl-slider-wrapper">
                <div class="sl-slider">

                    <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
                        <div class="bg-img bg-img-1"></div>
                        <div class="slide-caption">
                            <div class="caption-content">
                                <!--<h2 class="animated fadeInDown">Car <span class="text-warning">Finder</span></h2>-->
                                <h2>Car <span class="text-warning">Finder</span></h2>
                                <span class="animated fadeInDown">Searches all the cars manufactured between 1936 and 2015</span>
                                <a href="#testimonials" class="btn btn-blue btn-effect">Start Searching</a><br><br>
                                <a href="#" class="btn btn-blue btn-effect">
                                    HTML5, CSS3, Bootstrap, JQuery, C#, WebApi, AngularJS 
                                </a>
                            </div>
                            
                        </div>

                    </div>

                    <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">

                        <div class="bg-img bg-img-2"></div>
                        <div class="slide-caption">
                            <div class="caption-content">
                                <h2>Car <span class="text-warning">Finder</span></h2>
                                <span>Shows Car Pictures</span>
                                <a href="#testimonials" class="btn btn-blue btn-effect">Start Searching</a><br><br>
                                <a href="#" class="btn btn-blue btn-effect">
                                    HTML5, CSS3, Bootstrap, JQuery, C#, WebApi, AngularJS
                                </a>
                            </div>
                        </div>

                    </div>

                    <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">

                        <div class="bg-img bg-img-3"></div>
                        <div class="slide-caption">
                            <div class="caption-content">
                                <<h2>Car <span class="text-warning">Finder</span></h2>
                                <span>See recall information if any listed with NHTSA</span>
                                <a href="#testimonials" class="btn btn-blue btn-effect">Start Searching</a><br><br>
                                <a href="#" class="btn btn-blue btn-effect">
                                    HTML5, CSS3, Bootstrap, JQuery, C#, WebApi, AngularJS
                                </a>
                            </div>
                        </div>
                    </div>
                </div><!-- /sl-slider -->
                
                <nav id="nav-arrows" class="nav-arrows hidden-xs hidden-sm visible-md visible-lg">
                    <a href="javascript:;" class="sl-prev">
                        <i class="fa fa-angle-left fa-3x"></i>
                    </a>
                    <a href="javascript:;" class="sl-next">
                        <i class="fa fa-angle-right fa-3x"></i>
                    </a>
                </nav>

                <nav id="nav-dots" class="nav-dots visible-xs visible-sm hidden-md hidden-lg">
                    <span class="nav-dot-current"></span>
                    <span></span>
                    <span></span>
                </nav>
            </div><!-- /slider-wrapper -->
        </section>


        <!-- Service section -->
        <section id="service">
            <div class="container">
                <div class="row">

                    <div class="sec-title text-center">
                        <h2 class="wow animated bounceInLeft">Key Features</h2>
                        <p class="wow animated bounceInRight">The Key Features of CarFinder</p>
                        <p class="wow animated bounceInLeft">
                            <a href="https://github.com/hemamitra" target="_blank"><i class="fa fa-github"></i>GitHub</a>
                            <a href="http://carlister.azurewebsites.net/help" target="_blank"><i class="fa fa-globe"></i>WebApi</a>
                            <a href="https://hmitra.azurewebsites.net/Home/Contact" target="_blank"><i class="fa fa-envelope"></i>Contact</a>
                        </p>
                            <br>
                    </div>
                    
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-mobile fa-3x"></i>
                            </div>
                            <h3>Bootstrap</h3>
                            <p>Fully Responsive</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
                        <div class="service-item">
                            <div class="service-icon">
                               
                                <img src="img/icons/angular1.jpg" />
                            </div>
                            <h3>AngularJs</h3>
                            <p>Uses powerpacked AngularJs for front end design </p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s">
                        <div class="service-item">
                            <div class="service-icon">
                                <a href="http://carlister.azurewebsites.net/help" target="_blank"><i class="fa fa-globe fa-3x"></i></a>
                            </div>
                            <h3>WebApi</h3>
                            <p>Uses WebApi at the backend</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.9s">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-database fa-3x"></i>
                            </div>

                            <h3>SQL Server</h3>
                            <p>Uses Stored Procedure for retrieving data from the database server.</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- end Service section -->
        <!-- portfolio section -->
        <section id="portfolio" style="padding-bottom:0px;">
            <div class="container">
                <div class="row">

                    <div class="sec-title text-center wow animated fadeInDown">
                        <h2>Gallery</h2>
                        <p>The Galleria Of Cars</p>
                    </div>

                    <ul class="project-wrapper wow animated fadeInUp">
                        <li class="portfolio-item">
                            <img src="img/portfolio/BMW-car.jpg" class="img-responsive" alt="The most luxurious car">
                            <figcaption class="mask">
                                <h3>BMW</h3>
                                <p>The most luxurious car. </p>
                            </figcaption>
                        </li>

                        <li class="portfolio-item">
                            <img src="img/portfolio/bmw2.jpg" class="img-responsive" alt="Convertible">
                            <figcaption class="mask">
                                <h3>BMW</h3>
                                <p>Convertible. </p>
                            </figcaption>
                        </li>

                        <li class="portfolio-item">
                            <img src="img/portfolio/bmw3.jpg" class="img-responsive" alt="Luxury Sports Car">
                            <figcaption class="mask">
                                <h3>Sports</h3>
                                <p>Luxury Sports Car. </p>
                            </figcaption>
                        </li>

                        <li class="portfolio-item">
                            <img src="img/portfolio/volvo1.jpg" class="img-responsive" alt="Volvo">
                            <figcaption class="mask">
                                <h3>Volvo</h3>
                                <p>The amazing XC90 Model. </p>
                            </figcaption>
                        </li>

                        <li class="portfolio-item">
                            <img src="img/portfolio/volvo2.jpg" class="img-responsive" alt="Volvo ">
                            <figcaption class="mask">
                                <h3>Volvo</h3>
                                <p>S60 Sedan </p>
                            </figcaption>
                        </li>

                        <li class="portfolio-item">
                            <img src="img/portfolio/volvo3.jpg" class="img-responsive" alt="Volvo">
                            <figcaption class="mask">
                                <h3>Volvo V70</h3>
                                <p>The Wagon Car</p>
                            </figcaption>
                        </li>
                    </ul>

                </div>
            </div>
        </section>
        <!-- end portfolio section -->
        <!-- Testimonial section -->
        <section id="testimonials" class="parallax" style="height:100%;">
            <div class="overlay" style="height:100%;">
                <div class="container" style="height:100%;">
                    <div class="row" style="height:100%;">

                        <div class="sec-title text-center white wow animated fadeInDown" style="height:100%;">
                            <h2>Search Your Dream Car Here</h2>
                        </div>

                        <div id="testimonial" class="wow animated fadeInUp" style="height:100%;">
                            <div class="testimonial-item text-center" style="height:100%;">
                                <div class="clearfix">
                                    <div ng-app="car-finder" style="height:100%;">
                                        <div ng-controller="CarController as carCtrl" ng-cloak>
                                            <div class="row">
                                                <div class="col-md-3 col-sm-3">
                                                    <h4 class="text-white"><strong>Select Year</strong></h4>
                                                </div>
                                                <div class="col-md-3 col-sm-3">
                                                    <h4 class="text-white"><strong>Select Make</strong></h4>
                                                </div>
                                                <div class="col-md-3 col-sm-3">
                                                    <h4 class="text-white"><strong>Select Model</strong></h4>
                                                </div>
                                                <div class="col-md-3 col-sm-3">
                                                    <h4 class="text-white"><strong>Select Trim</strong></h4>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3 col-sm-3">
                                                    <select data-ng-model="carCtrl.selected.year"
                                                            data-ng-options="year for year in carCtrl.options.years"
                                                            data-ng-change="carCtrl.getMakes()" class="selectStyle"></select>
                                                </div>
                                                <div class="col-md-3 col-sm-3">
                                                    <select data-ng-model="carCtrl.selected.make"
                                                            data-ng-options="make for make in carCtrl.options.makes"
                                                            data-ng-change="carCtrl.getModels()" class="selectStyle"></select>
                                                </div>
                                                <div class="col-md-3 col-sm-3">
                                                    <select data-ng-model="carCtrl.selected.model"
                                                            data-ng-options="model for model in carCtrl.options.models"
                                                            data-ng-change="carCtrl.getTrims()" class="selectStyle"></select>
                                                </div>
                                                <div class="col-md-3 col-sm-3">
                                                    <select data-ng-model="carCtrl.selected.trim"
                                                            data-ng-options="trim for trim in carCtrl.options.trims"
                                                            data-ng-change="carCtrl.GetSearchCar()" class="selectStyle"></select>
                                                </div>

                                            </div>
                                            <br><br>

                                            <div class="row">
                                                <div class="col-md-12 col-sm-12">
                                                    <table tr-ng-grid="" items="carCtrl.cars"
                                                           total-items="carCtrl.count"
                                                           on-data-required="carCtrl.GetSearchCar()"
                                                           page-items="carCtrl.selected.perpage"
                                                           current-page="carCtrl.selected.page"
                                                           order-by="carCtrl.selected.sortcolumn"
                                                           order-by-reverse="carCtrl.selected.sortByReverse"
                                                           filter-by="carCtrl.selected.filter"
                                                           fields="['make','model_name','model_trim','body_style']"
                                                           class="bg-white">
                                                        <thead>
                                                            <tr>
                                                                <th field-name="make" display-name="Make" enable-filtering="false"
                                                                    order-by-reverse="carCtrl.selected.sortByReverse" filter- by="carCtrl.selected.filter"></th>
                                                                <th field-name="model_name" display-name="Model" enable-filtering="false"
                                                                    order-by-reverse="carCtrl.selected.sortByReverse" filter-by="carCtrl.selected.filter"></th>
                                                                <th field-name="model_trim" display-name="Trim" enable-filtering="false"
                                                                    order-by-reverse="carCtrl.selected.sortByReverse" filter-by="carCtrl.selected.filter"></th>
                                                                <th field-name="body_style" display-name="Style" enable-filtering="false"
                                                                    order-by-reverse="carCtrl.selected.sortByReverse" filter-by="carCtrl.selected.filter"></th>
                                                                <th display-name="Action" enable-sorting="false" enable-filtering="false" display- align="center"></th>
                                                            </tr>
                                                        </thead>
                                                        <tr>
                                                            <td>
                                                                <button type="button" class="btn  btn-sm btn-primary btn-effect"
                                                                        ng-click="carCtrl.open(gridItem.id)">
                                                                    View
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </table>

                                                    <script type="text/ng-template" id="carModal.html">
                                                        <div class="modal-header">
                                                            <div class="modal-title">Car <span class="text-warning">Details</span></div>
                                                            <button class="btn btn-primary pull-right margintop" ng-click="cm.cancel()">X</button>
                                                        </div>
                                                        <br>
                                                        <div class="modal-body text-black bg-light-blue margin-top">
                                                            <strong class="text-center">
                                                                {{cm.car.car.make}} - {{cm.car.car.model_name}}
                                                            </strong>
                                                            <div class="row">
                                                                <div class="col-md-6 col-sm-6">
                                                                    <img src="{{cm.car.imgUrl}}" class="imgsize">
                                                                </div>
                                                                <div class="col-md-6 col-sm-6">
                                                                    <div class="row">
                                                                        <div class="col-md-4 col-sm-4 text-bold">
                                                                            Year
                                                                        </div>
                                                                        <div class="col-md-8 col-sm-8">
                                                                            : {{cm.car.car.model_year}}
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-4 col-sm-4 text-bold">
                                                                            Trim
                                                                        </div>
                                                                        <div class="col-md-8 col-sm-8">
                                                                            : {{cm.car.car.model_trim}}
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-4 col-sm-4 text-bold">
                                                                            Body Style
                                                                        </div>
                                                                        <div class="col-md-8 col-sm-8">
                                                                            : {{cm.car.car.body_style}}
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-4 col-sm-4 text-bold">
                                                                            Fuel Type
                                                                        </div>
                                                                        <div class="col-md-8 col-sm-8">
                                                                            : {{cm.car.car.engine_fuel}}
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-4 col-sm-4 text-bold">
                                                                            Fuel Capacity
                                                                        </div>
                                                                        <div class="col-md-8 col-sm-8">
                                                                            : {{cm.car.car.fuel_capacity_l}}
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-4 col-sm-4 text-bold">
                                                                            Engine Position
                                                                        </div>
                                                                        <div class="col-md-8 col-sm-8">
                                                                            : {{cm.car.car.engine_position}}
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-4 col-sm-4 text-bold">
                                                                            Engine Power (RPM)
                                                                        </div>
                                                                        <div class="col-md-8 col-sm-8">
                                                                            : {{cm.car.car.engine_power_rpm}}
                                                                        </div>
                                                                    </div>


                                                                    <div class="row">
                                                                        <div class="col-md-4 col-sm-4 text-bold">
                                                                            Transmission Type
                                                                        </div>
                                                                        <div class="col-md-8 col-sm-8">
                                                                            : {{cm.car.car.transmission_type}}
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-4 col-sm-4 text-bold">
                                                                            Times Sold In US
                                                                        </div>
                                                                        <div class="col-md-8 col-sm-8">
                                                                            : {{cm.car.car.sold_in_us}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div> <!-- Row End --><br>
                                                            <div class="row">
                                                                <div class="col-md-12 col-sm-12">
                                                                    <strong class="text-center">
                                                                        Recall Information - {{ cm.car.recalls.Count }} Recalls
                                                                    </strong>
                                                                    <uib-accordion close-others="oneAtATime">
                                                                        <uib-accordion-group ng-repeat="result in cm.car.recalls.Results" heading="{{result.Component}}">
                                                                            <strong>Manufacturer : </strong>{{ result.Manufacturer}}<br>
                                                                            <strong>Campaign Number :</strong> {{ result.NHTSACampaignNumber }}<br />
                                                                            <strong>Action Number :</strong> {{ result.NHTSAActionNumber }}<br>
                                                                            <strong>Summary :</strong> {{ result.Summary }}<br />
                                                                            <strong>Consequence :</strong> {{ result.Conequence }}<br>
                                                                            <strong>Remedy :</strong> {{ result.Remedy }}<br>
                                                                            <strong>Notes :</strong> {{ result.Notes }}
                                                                        </uib-accordion-group>
                                                                    </uib-accordion>
                                                                </div>
                                                            </div>
                                                        </div><!-- Modal Body End -->
                                                        <div class="modal-footer">
                                                            <button class="btn btn-primary" ng-click="cm.ok()">Close</button>
                                                        </div>

                                                    </script>

                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                 </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end Testimonial section -->
        <div ng-app="car-finder">
            <div ng-controller="CarController as carCtrl" ng-cloak>
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <h5>Select Years</h5>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <h5>Select Make</h5>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <h5>Select Model</h5>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <h5>Select Trim</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <select data-ng-model="carCtrl.selected.year"
                                data-ng-options="year for year in carCtrl.options.years"
                                data-ng-change="carCtrl.getMakes()"></select>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <select data-ng-model="carCtrl.selected.make"
                                data-ng-options="make for make in carCtrl.options.makes"
                                data-ng-change="carCtrl.getModels()"></select>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <select data-ng-model="carCtrl.selected.model"
                                data-ng-options="model for model in carCtrl.options.models"
                                data-ng-change="carCtrl.getTrims()"></select>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <select data-ng-model="carCtrl.selected.trim"
                                data-ng-options="trim for trim in carCtrl.options.trims"
                                data-ng-change="carCtrl.GetSearchCar()"></select>
                    </div>

                </div>
                <br><br>

                <div class="row">
                    <div class="col-md-12 col-sm-12">

                        <table tr-ng-grid="" items="carCtrl.cars"
                               total-items="carCtrl.count"
                               on-data-required="carCtrl.GetSearchCar()"
                               page-items="carCtrl.selected.perpage"
                               current-page="carCtrl.selected.page"
                               order-by="carCtrl.selected.sortcolumn"
                               order-by-reverse="carCtrl.selected.sortByReverse"
                               filter-by="carCtrl.selected.filter"
                               fields="['make','model_name','model_trim','body_style']">
                            <thead>
                                <tr>
                                    <th field-name="make" display-name="Make" enable-filtering="true"
                                        order-by-reverse="carCtrl.selected.sortByReverse" filter-by="carCtrl.selected.filter"></th>
                                    <th field-name="model_name" display-name="Model" enable-filtering="true"
                                        order-by-reverse="carCtrl.selected.sortByReverse" filter-by="carCtrl.selected.filter"></th>
                                    <th field-name="model_trim" display-name="Trim" enable-filtering="true"
                                        order-by-reverse="carCtrl.selected.sortByReverse" filter-by="carCtrl.selected.filter"></th>
                                    <th field-name="body_style" display-name="Style" enable-filtering="true"
                                        order-by-reverse="carCtrl.selected.sortByReverse" filter-by="carCtrl.selected.filter"></th>
                                    <th display-name="Action" enable-sorting="false" enable-filtering="false" display-align="center"></th>
                                </tr>
                            </thead>
                            <tr>
                                <td><button type="button" class="btn  btn-sm btn-default" ng-click="carCtrl.open(gridItem.id)">View</button></td>
                            </tr>
                        </table>
                        <script type="text/ng-template" id="carModal.html">
                            <div class="modal-header">
                                <h3 class="modal-title">
                                    Car Details
                                </h3>
                                <button class="btn btn-default" ng-click="cm.cancel()">X</button>

                            </div>
                            <div class="modal-body">

                                {{cm.car.model_year}} {{cm.car.Car.make}} - {{cm.car.Car.model_name}} {{cm.car.Car.model_trim}}
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" ng-click="cm.ok()">Close</button>
                            </div>
                        </script>
                    </div>
                </div>

            </div>
        </div>

    </main>

   
    <!-- Essential jQuery Plugins
    ================================================== -->
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/Scripts/angular.min.js"></script>
    <script src="/Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- Single Page Nav -->
    <script src="js/jquery.singlePageNav.min.js"></script>
    <!-- jquery.fancybox.pack -->
    <!--<script src="js/jquery.fancybox.pack.js"></script>-->
    
    
    <!-- Owl Carousel -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- jquery easing -->
    <script src="js/jquery.easing.min.js"></script>
    <!-- Fullscreen slider -->
    <script src="js/jquery.slitslider.js"></script>
    <script src="js/jquery.ba-cond.min.js"></script>
    <!-- onscroll animation -->
    <script src="js/wow.min.js"></script>
    <!-- Custom Functions -->
    <script src="js/main.js"></script>
    <script src="/CarApp/trNgGrid.min.js"></script>
    <script src="/CarApp/app.js"></script>
    <script src="/CarApp/CarController.js"></script>
    <script src="/CarApp/testCarSrv.js"></script>
</body>
</html>